h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
}

p {
  color: #4e4e4e;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.app-container {
  padding: 20px;
  width: 600px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  /* Adjust max-width for smaller screens */
  #app-container {
    max-width: 100%;
    padding: 10px;
  }
}
